.like {
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  display: flex;
  gap: 6px;
  height: 40px;
  justify-content: center;
  min-width: 64px;
  padding: 10px;
  border: none;
}

.clickable {
  cursor: pointer;
  border: 1px solid #999;
}

.clickable:hover {
  transition: 0.2s ease;
  opacity: 0.8;
  border: 1px solid #333;
}

.count {
  margin: 0;
  padding: 0;
  color: #000;
}
