*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  color-scheme: light dark;
  font-size: 1rem;
}

body {
  font-family: system-ui;
  line-height: 1.6;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

.content {
  margin-inline: auto;
  padding-block: 2rem;
  width: min(65ch, 100% - 4rem);
}

@media (min-width: 600px) {
  html {
    font-size: 1.125rem;
  }
}
